# Project
COMPOSE_PROJECT_NAME=behavioral-cyber-platform
TZ=Asia/Kolkata

# PostgreSQL
POSTGRES_DB=cyber_platform
POSTGRES_USER=cyber_admin
POSTGRES_PASSWORD=change_me_before_running

# Kafka KRaft
KAFKA_CLUSTER_ID=replace_me_with_generated_kraft_cluster_id

# OpenSearch
OPENSEARCH_INITIAL_ADMIN_PASSWORD=change_me_before_running
